name: Hello World Workflow

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  hello-world:
    runs-on: ubuntu-latest
    steps:
      - name: Print Hello World
        run: echo "Hello World!"
      - name: Use MY_TOKEN secret
        env:
          MY_TOKEN: ${{ secrets.MY_TOKEN }}
        run: |
          echo "The token is available as an environment variable. GitHub will mask it: $MY_TOKEN"
          docker --version
